<mat-toolbar class="header-container">
  <h1 class="header-item header-title" routerLink="/">{{rb.get('title')}}</h1>
  <button class="header-item" *ngIf="!userService.getCurrentUser()" mat-button routerLink="/login" routerLinkActive="active">{{rb.get('login')}}</button>
  <button class="header-item" *ngIf="userService.getCurrentUser()" mat-button routerLink="/dashboard" routerLinkActive="active">{{rb.get('dashboard')}}</button>
  <button class="header-item" *ngIf="!userService.getCurrentUser()" mat-button routerLink="/register" routerLinkActive="active">{{rb.get('register')}}</button>
  <button class="header-item" *ngIf="userService.getCurrentUser()" mat-button (click)="logout()">{{rb.get('logout')}}</button>
</mat-toolbar>
