<div *ngIf="model">
  <mat-horizontal-stepper [linear]="true" #stepper>

    <mat-step>
      <ng-template matStepLabel>{{rb.get('consents-step-name')}}</ng-template>
      <app-research-consent *ngFor="let consent of model.consents" [consent]="consent"></app-research-consent>
      <div>
        <p>{{rb.get('mandatory-helper-text')}}</p>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{rb.get('survey-step-name')}}</ng-template>
      <app-research-survey *ngFor="let survey of model.surveys"></app-research-survey>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{rb.get('tutorial-step-name')}}</ng-template>
      <app-research-tutorial *ngFor="let tutorial of model.tutorials"></app-research-tutorial>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{rb.get('steps-step-name')}}</ng-template>
      <app-research-step *ngFor="let step of model.steps"></app-research-step>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{rb.get('finished-step-name')}}</ng-template>
      <p>{{rb.get('finished')}}</p>
    </mat-step>

  </mat-horizontal-stepper>

  <div>
    <button mat-button (click)="goBack(stepper)" type="button">{{rb.get('step-back')}}</button>
    <button mat-button (click)="goForward(stepper)" type="button">{{rb.get('step-next')}}</button>
  </div>

</div>
