<div *ngIf="model">
  <mat-vertical-stepper [linear]="true" #stepper>

    <mat-step *ngFor="let consent of model.consents">
      <ng-template matStepLabel>Consent {{model.consents.indexOf(consent) + 1}}</ng-template>
      <app-research-consent></app-research-consent>
    </mat-step>

    <mat-step *ngFor="let survey of model.surveys">
      <ng-template matStepLabel>Survey {{model.surveys.indexOf(survey) + 1}} - {{survey.name}}</ng-template>
      <app-research-survey></app-research-survey>
    </mat-step>

    <mat-step *ngFor="let tutorial of model.tutorials">
      <ng-template matStepLabel>Tutorial {{model.tutorials.indexOf(tutorial) + 1}} - {{tutorial.name}}</ng-template>
      <app-research-tutorial></app-research-tutorial>
    </mat-step>

    <mat-step *ngFor="let step of model.steps">
      <ng-template matStepLabel>Step {{model.steps.indexOf(step) + 1}} - {{step.name}}</ng-template>
      <app-research-step></app-research-step>
    </mat-step>

  </mat-vertical-stepper>

  <div>
    <button mat-button (click)="goBack(stepper)" type="button">Back</button>
    <button mat-button (click)="goForward(stepper)" type="button">Next</button>
  </div>

</div>
