<div>
  <div>
    <div>
      <mat-form-field>
        <mat-label>{{rb.get('video-step-name')}}</mat-label>
        <input matInput
               [value]="step.name"
               (keyup)="onNameChange($event.target.value)">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{rb.get('video-step-text')}}</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [value]="step.text"
                  (keyup)="onTextChange($event.target.value)">
      </textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{rb.get('video-step-url')}}</mat-label>
        <input matInput
               [value]="step.url"
               (keyup)="onUrlChange($event.target.value)">
      </mat-form-field>
    </div>
    <div>
      <iframe [src]="ytUrl" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div>
    <span><button *ngIf="showCancel" mat-raised-button (click)="onCancel()">{{rb.get('cancel')}}</button></span>
    <span><button *ngIf="showConfirm" mat-raised-button (click)="onConfirm(step)">{{rb.get('confirm')}}</button></span>
  </div>
</div>
