<div class="dialog-wrapper">
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('video-tutorial-name')}}</mat-label>
    <input matInput
           class="full-width-element"
           [value]="tutorial.name"
           (keyup)="onNameChange($event.target.value)">
  </mat-form-field>
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('video-tutorial-text')}}</mat-label>
    <textarea matInput
              class="full-width-element"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [value]="tutorial.text"
              (keyup)="onTextChange($event.target.value)">
      </textarea>
  </mat-form-field>
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('video-tutorial-url')}}</mat-label>
    <input matInput
           class="full-width-element"
           [value]="tutorial.url"
           (keyup)="onUrlChange($event.target.value)">
  </mat-form-field>
  <div class="video-container-wrapper">
    <iframe class="video-container" [src]="ytUrl" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="dialog-buttons-wrapper">
    <button class="dialog-button" *ngIf="showCancel" mat-button (click)="onCancel()">{{rb.get('cancel')}}</button>

    <button class="dialog-button" *ngIf="showConfirm" mat-button (click)="onConfirm(tutorial)">{{rb.get('confirm')}}</button>
  </div>
</div>
