.research-step-canvas {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.table-comment-row {
  margin: 1rem;
  display: flex;
}

.table-column {
  margin: 1rem;
  flex: 1;
}

.comment-column {
  margin: 1rem;
  flex: 1;
}

.centered-text-wrapper {
  text-align: center;
}

.centered-text-item {
  display: block;
}
