<div class="dialog-wrapper">
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('tutorial-name')}}</mat-label>
    <input matInput
           class="full-width-element"
           [value]="tutorial.name"
           (keyup)="onNameChange($event.target.value)">
  </mat-form-field>
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('tutorial-text')}}</mat-label>
    <textarea matInput
              class="full-width-element"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [value]="tutorial.text"
              (keyup)="onTextChange($event.target.value)">
      </textarea>
  </mat-form-field>
  <div class="dialog-buttons-wrapper">
    <button class="dialog-button" *ngIf="showCancel" mat-raised-button (click)="onCancel()">{{rb.get('cancel')}}</button>
    <div class="dialog-button"></div>
    <button class="dialog-button" *ngIf="showConfirm" mat-raised-button (click)="onConfirm(tutorial)">{{rb.get('confirm')}}</button>
  </div>
</div>
