<div *ngIf="tutorial">
  <h2>{{tutorial.name}}</h2>

  <div class="video-tutorial-wrapper">
    <div class="video-container-wrapper video-tutorial" *ngIf="tutorial.type === researchTutorialTypes.VIDEO">
      <iframe class="video-container" [src]="ytUrl" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="image-tutorial-wrapper" *ngIf="tutorial.type === researchTutorialTypes.IMAGE">
    <img class="image-tutorial" src="{{tutorial.url}}" alt="tutorial-image">
  </div>

  <p>{{tutorial.text}}</p>

  <mat-divider></mat-divider>
</div>
