<div *ngIf="survey">
  <h2>{{survey.name}}</h2>
  <p>{{survey.text}}</p>

  <mat-form-field class="full-width-element"
                  *ngIf="survey.type === researchSurveyTypes.TEXT">
    <input name="textAnswerInput"
              [(ngModel)]="textAnswer"
              class="full-width-element"
              matInput placeholder="{{rb.get('type-answer')}}">
  </mat-form-field>

  <mat-radio-group *ngIf="survey.type === researchSurveyTypes.RADIO" name="radioAnswerGroup" [(ngModel)]="radioAnswer">
    <mat-radio-button class="research-survey-answer-button" value="{{answer.val}}" *ngFor="let answer of survey.answers">{{answer.val}}</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="survey.type === researchSurveyTypes.CHECKBOX">
    <mat-checkbox class="research-survey-answer-button" name="checkboxAnswerCheckbox" [(ngModel)]="checkboxAnswers[survey.answers.indexOf(answer)]" *ngFor="let answer of survey.answers">{{answer.val}}</mat-checkbox>
  </div>

  <mat-divider></mat-divider>
</div>
