<div *ngIf="survey">

  <div>
    <h2>{{survey.name}}</h2>
  </div>

  <div>
    <p>{{survey.text}}</p>
  </div>

  <div *ngIf="survey.type === researchSurveyTypes.TEXT">
    <form>
      <mat-form-field>
        <input name="textAnswerInput" [(ngModel)]="textAnswer" matInput placeholder="{{rb.get('type-answer')}}">
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="survey.type === researchSurveyTypes.RADIO">
    <mat-radio-group name="radioAnswerGroup" [(ngModel)]="radioAnswer">
      <mat-radio-button value="{{answer.val}}" *ngFor="let answer of survey.answers">{{answer.val}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="survey.type === researchSurveyTypes.CHECKBOX">
    <mat-checkbox name="checkboxAnswerCheckbox" [(ngModel)]="checkboxAnswers[survey.answers.indexOf(answer)]" *ngFor="let answer of survey.answers">{{answer.val}}</mat-checkbox>
  </div>

  <mat-divider></mat-divider>
</div>
