<div style="display: flex; flex-direction: column; height: 100%; width: 100%">
  <app-header></app-header>
  <div style="flex: 1 0 auto;
  align-items: center;
  justify-content: center;">
    <div [style.display]="(this.progressService.getLoadingState() | async) ? 'none' : ''"><router-outlet></router-outlet></div>
    <div [style.display]="!(this.progressService.getLoadingState() | async) ? 'none' : ''"><mat-spinner></mat-spinner></div>
  </div>
  <app-footer style="width: 100%; flex-shrink: 0; background-color: antiquewhite"></app-footer>
</div>
