<div>
  <mat-toolbar>
    <span>{{title}}</span>
    <button *ngIf="!userService.getCurrentUser()" mat-button routerLink="/login" routerLinkActive="active">LOGIN</button>
    <button *ngIf="!userService.getCurrentUser()" mat-button routerLink="/register" routerLinkActive="active">REGISTER</button>
    <button *ngIf="userService.getCurrentUser()" mat-button (click)="logout()">LOGOUT</button>
  </mat-toolbar>
  <div *ngIf="!this.progressService.loading">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="this.progressService.loading"><mat-spinner></mat-spinner></div>
</div>
