<div *ngIf="researchConfig">

  <table mat-table [dataSource]="researchConfig.tutorials" class="table-aligned" #researchTable>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let tutorial" class="action-link">
        <button mat-raised-button (click)="onEdit(tutorial)">Edit</button>
        <button mat-raised-button (click)="onDelete(tutorial)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button [matMenuTriggerFor]="menu">Add tutorial</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onAddNew(researchTutorialTypes.VIDEO)">Video</button>
    <button mat-menu-item (click)="onAddNew(researchTutorialTypes.IMAGE)">Image</button>
    <button mat-menu-item (click)="onAddNew(researchTutorialTypes.TEXT)">Text</button>
  </mat-menu>

</div>
