<div *ngIf="(researchObservable | async) as researchConfig">
  <div>
    <mat-slide-toggle [checked]="(researchObservable | async)?.isLive" (toggleChange)="onToggle(researchConfig)">{{rb.get('live')}}</mat-slide-toggle>
  </div>
  <div>
    <span><button mat-raised-button routerLink="/research-config-consent/{{id}}">{{rb.get('consent-configuration')}}</button></span>
    <span><button mat-raised-button routerLink="/research-config-survey/{{id}}">{{rb.get('survey-configuration')}}</button></span>
    <span><button mat-raised-button routerLink="/research-config-tutorial/{{id}}">{{rb.get('tutorial-configuration')}}</button></span>
    <span><button mat-raised-button routerLink="/research-config-steps/{{id}}">{{rb.get('steps-configuration')}}</button></span>
    <span><button mat-raised-button routerLink="/research-data/{{id}}">{{rb.get('data-configuration')}}</button></span>
  </div>
</div>
