<div>
  <mat-slide-toggle [checked]="isLive" (toggleChange)="onToggle()">Live</mat-slide-toggle>
</div>
<div>
  <span><button mat-raised-button routerLink="/research-config-consent/{{id}}">Consent configuration</button></span>
  <span><button mat-raised-button routerLink="/research-config-survey/{{id}}">Survey configuration</button></span>
  <span><button mat-raised-button routerLink="/research-config-tutorial/{{id}}">Tutorial configuration</button></span>
  <span><button mat-raised-button routerLink="/research-config-steps/{{id}}">Steps configuration</button></span>
  <span><button mat-raised-button routerLink="/research-data/{{id}}">Data</button></span>
</div>
