.research-data-wrapper {
  flex-wrap: wrap;
  display: flex;
}

.research-data-sidebar {
  flex: 1;
  padding: 1rem;
  margin: 1rem;
}

.research-data-main {
  flex: 2;
  background-color: white;
  padding: 1rem 1rem 5rem;
  margin: 1rem 1rem 5rem;
  width: 25%;
  max-height: 50vh;
  max-width: 33%;
}

.fix >>> .ngx-json-viewer {
  overflow: auto !important;
}

.download-button {
  margin: 1rem;
}
