<div class="route-title">
  <h2>{{rb.get('research-data')}}</h2>
</div>
<div class="research-data-wrapper">
  <div class="research-data-sidebar"></div>
  <div class="research-data-main mat-elevation-z4">
    <h3>{{rb.get('transformations')}}</h3>
    <mat-form-field class="full-width-element" *ngIf="(availableTransformations | async) as transforms">
      <mat-label>{{rb.get('selected-transform')}}</mat-label>
      <mat-select class="full-width-element" [(value)]="selectedTransform">
        <mat-option *ngFor="let transform of transforms" [value]="transform">{{fb.getBundle(transform.name).get('displayName')}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="selectedTransform">{{fb.getBundle(selectedTransform.name).get('description')}}</p>
    <button class="download-button" [disabled]="!selectedTransform" mat-raised-button (click)="onDownloadTransformed(selectedTransform)">{{rb.get('download-transformed')}}</button>
  </div>
  <div class="research-data-main mat-elevation-z4" *ngIf="(researchData | async) as data">
    <h3>{{rb.get('raw-data')}}</h3>
    <ngx-json-viewer class="fix" [json]="data"></ngx-json-viewer>
  </div>
  <div class="research-data-sidebar"></div>
</div>
