<div class="dialog-wrapper">
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('comment')}}</mat-label>
    <textarea matInput
              class="full-width-element"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [value]="annotation.comment"
              (keyup)="onTextChange($event.target.value)">
      </textarea>
  </mat-form-field>
  <div class="dialog-buttons-wrapper">
    <button class="dialog-button" *ngIf="showCancel" mat-raised-button (click)="onCancel()">{{rb.get('cancel')}}</button>
    <div class="dialog-button" ></div>
    <button class="dialog-button" *ngIf="showConfirm" mat-raised-button (click)="onConfirm(annotation)">{{rb.get('confirm')}}</button>
  </div>
</div>
