<div class="dialog-wrapper">
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('name')}}</mat-label>
    <input matInput
           class="full-width-element"
           [value]="survey.name"
           (keyup)="onNameChange($event.target.value)">
  </mat-form-field>
  <mat-form-field class="full-width-element">
    <mat-label>{{rb.get('text')}}</mat-label>
    <textarea matInput
              class="full-width-element"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [value]="survey.text"
              (keyup)="onTextChange($event.target.value)">
      </textarea>
  </mat-form-field>
  <mat-list>
    <mat-list-item *ngFor="let ans of survey.answers">
      <input matInput [placeholder]="rb.get('answer-placeholder')" [value]="ans.val" (keyup)="onAnswerChange(ans, $event.target.value)">
      <button mat-button (click)="onRemoveAnswer(ans)">{{rb.get('answer-remove')}}</button>
    </mat-list-item>
  </mat-list>
  <button mat-icon-button (click)="onAnswerAdd()">+</button>
  <div class="dialog-buttons-wrapper">
    <button class="dialog-button" *ngIf="showCancel" mat-raised-button (click)="onCancel()">{{rb.get('cancel')}}</button>
    <div class="dialog-button"></div>
    <button class="dialog-button" *ngIf="showConfirm" mat-raised-button (click)="onConfirm(survey)">{{rb.get('confirm')}}</button>
  </div>
</div>
