<div>
  <table *ngIf="model && model.length > 0" mat-table [dataSource]="model" class="table-aligned" #researchTable>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> {{rb.get('id-header')}} </th>
      <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> {{rb.get('action-header')}} </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-raised-button (click)="onEdit(element[0])">{{rb.get('edit')}}</button>
        <button mat-raised-button (click)="onDelete(element[0])">{{rb.get('delete')}}</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button (click)="onAddNew()">{{rb.get('add')}}</button>

</div>
