/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--color-primary-1)}

:root {
  --color-primary-0: #37377A;
  --color-primary-1: #D1D1DD;
  --color-primary-2: #7575A7;
  --color-primary-3: #0F0F4D;
  --color-primary-4: #01011F;
}

.full-height-element {
  height: 100%;
}

.full-width-element {
  width: 100%;
}

.route-title {
  text-align: center;
}

.dialog-button {
  flex: 1;
}

.dialog-buttons-wrapper {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
}

.dialog-wrapper {
  min-width: 20vw;
}

.video-container-wrapper {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width :100%;
}

.video-container {
  position: absolute;
  top: 0; left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
