<div class="hero-image">
  <div class="hero-image-overlay">
    <h1 class="hero-image-title">{{rb.get('hero-heading')}}</h1>
    <p class="hero-image-text">{{rb.get('hero-text')}}</p>
  </div>
</div>
<div class="home-features-wrapper">
  <div class="home-row">
    <div class="home-column">
      <h2>{{rb.get('feature-one-heading')}}</h2>
      <p>{{rb.get('feature-one-text')}}</p>
    </div>
    <div class="home-column">
      <img src="https://pbs.twimg.com/profile_images/846659478120366082/K-kZVvT8_400x400.jpg">
    </div>

    <div class="home-column">
      <h2>{{rb.get('feature-two-heading')}}</h2>
      <p>{{rb.get('feature-two-text')}}</p>
    </div>
    <div class="home-column">
      <img src="https://pbs.twimg.com/profile_images/846659478120366082/K-kZVvT8_400x400.jpg">
    </div>
  </div>
</div>
