<div class="licenses-outer-container">
  <div class="licenses-inner-container">
    <div class="licenses-content">
      <h2>{{rb.get('licenses-header')}}</h2>
      <p>© 2019 Andrzej Grabowski</p>
      <mat-divider></mat-divider>
      <h3>{{rb.get('angular-licenses')}}</h3>
      <ul>
        <li>
          <a href="https://github.com/angular/angular/blob/master/LICENSE">Angular</a>
        </li>
        <li>
          <a href="https://raw.githubusercontent.com/angular/components/master/LICENSE">Angular Component Dev Kit</a>
        </li>
        <li>
          <a href="https://github.com/angular/angularfire/blob/master/LICENSE">Angular Fire 2</a>
        </li>
        <li>
          <a href="https://github.com/angular/components/raw/master/LICENSE">Angular Material, Angular CDK</a>
        </li>
        <li>
          <a href="https://github.com/angular-schule/angular-cli-ghpages/blob/master/LICENSE">Angular CLI GitHub Pages</a>
        </li>
      </ul>
      <mat-divider></mat-divider>
      <h3>{{rb.get('firebase-licenses')}}</h3>
      <ul>
        <li>
          <a href="https://github.com/firebase/firebase-admin-node/blob/master/LICENSE">Firebase Admin Node.js SDK</a>
        </li>
        <li>
          <a href="https://github.com/firebase/firebase-admin-node/blob/master/LICENSE">Firebase Functions</a>
        </li>
        <li>
          <a href="https://github.com/firebase/firebase-js-sdk">Firebase JS SDK</a>
        </li>
      </ul>
      <mat-divider></mat-divider>
      <h3>{{rb.get('other-licenses')}}</h3>
      <ul>
        <li>
          <a href="https://github.com/hammerjs/hammer.js/raw/master/LICENSE.md">Hammer.js</a>
        </li>
        <li>
          <a href="https://github.com/7leads/ngx-cookie-service/raw/master/LICENSE">NGX Cookie Service</a>
        </li>
        <li>
          <a href="https://github.com/reactivex/rxjs/raw/master/LICENSE.txt">RxJS</a>
        </li>
        <li>
          <a href="https://github.com/Microsoft/tslib/raw/master/LICENSE.txt">tslib</a>
        </li>
        <li>
          <a href="https://github.com/kelektiv/node-uuid/raw/master/LICENSE.md">Node UUID</a>
        </li>
        <li>
          <a href="https://github.com/angular/zone.js/raw/master/LICENSE">Zone.js</a>
        </li>
      </ul>
      <mat-divider></mat-divider>
    </div>
  </div>

</div>
