<div class="route-title">
  <h2>{{rb.get('licenses-header')}}</h2>
</div>
<div class="licenses-outer-container">
  <div class="licenses-inner-container">
    <div class="licenses-content">
      <p>© 2019 Andrzej Grabowski</p>
      <mat-divider></mat-divider>
      <h3>{{rb.get('angular-licenses')}}</h3>
      <mat-list>
        <mat-list-item>
          <a href="https://github.com/angular/angular/blob/master/LICENSE">Angular</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://raw.githubusercontent.com/angular/components/master/LICENSE">Angular Component Dev Kit</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/angular/angularfire/blob/master/LICENSE">Angular Fire 2</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/angular/components/raw/master/LICENSE">Angular Material, Angular CDK</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/angular-schule/angular-cli-ghpages/blob/master/LICENSE">Angular CLI GitHub Pages</a>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <h3>{{rb.get('firebase-licenses')}}</h3>
      <mat-list>
        <mat-list-item>
          <a href="https://github.com/firebase/firebase-admin-node/blob/master/LICENSE">Firebase Admin Node.js SDK</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/firebase/firebase-admin-node/blob/master/LICENSE">Firebase Functions</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/firebase/firebase-js-sdk">Firebase JS SDK</a>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <h3>{{rb.get('other-licenses')}}</h3>
      <mat-list>
        <mat-list-item>
          <a href="https://github.com/hammerjs/hammer.js/raw/master/LICENSE.md">Hammer.js</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/7leads/ngx-cookie-service/raw/master/LICENSE">NGX Cookie Service</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/hivivo/ngx-json-viewer/blob/master/LICENSE">NGX Json Viewer</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/reactivex/rxjs/raw/master/LICENSE.txt">RxJS</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/Microsoft/tslib/raw/master/LICENSE.txt">tslib</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/kelektiv/node-uuid/raw/master/LICENSE.md">Node UUID</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://github.com/angular/zone.js/raw/master/LICENSE">Zone.js</a>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <h3>{{rb.get('assets-licenses')}}</h3>
      <mat-list>
        <mat-list-item>
          <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </mat-list-item>
        <mat-list-item>
          <div>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </mat-list-item>
        <mat-list-item>
          <div>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </mat-list-item>
        <mat-list-item>
          <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </mat-list-item>
        <mat-list-item>
          <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </mat-list-item>
        <mat-list-item>
          <div>Icons made by <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup">Pixelmeetup</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </mat-list-item>
        <mat-list-item>
          <div>Hero image on landing page <a href="https://la.wikipedia.org/wiki/Fasciculus:A_computed_tomography_brain_scan_showing_bilateral_basal_ganglia_calcification.jpg">from Wikimedia Commons on </a>Attribution 2.0 Generic (CC BY 2.0) </div>
        </mat-list-item>

      </mat-list>
    </div>
  </div>

</div>
